
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="https://kit.fontawesome.com/d52417226a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset("assets/style/css/style.css") }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="header">

    <a href="{{ path ("home") }}"><img src="{{ asset('assets/img/logo/logo_small.png') }}" alt="logo"></a>
    <div class="header__mobile" onclick="openMenu()">
        <i class="fa-solid fa-bars burger_menu"></i>
    </div>

</header>

<nav class="nav-mobile">
    <div class="header__mobile_close" onclick="openMenu()">
        <i class="fa-solid fa-xmark mobile-overlay"></i>
    </div>
    <div class="nav-mobile__profil">
        {% if app.user %}
        <img src="{{ asset('assets/img/img_profil.jpg') }}" alt="photo de profil">

        <span class="name">{{ app.user.prenom }}</span>
        <div class="action">
            <a href="">Mes listes</a>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    </div>
    {% endif %}
    <ul class="nav-mobile__menu">
        <li><a href="{{ path ('home') }}">
                <i class="fa-thin fa-house-user"></i>
                Accueil</a></li>
        <li><a href="{{ path('inscription') }}">
                <i class="fa-thin fa-list"></i>
                Inscription</a></li>
        <li><a href="{{ path('app_login') }}">
                <i class="fa-light fa-right-to-bracket"></i>
                Connexion</a></li>
    </ul>
</nav>

<div class="mobile-overlay" onclick="openMenu()"></div>
{% block main %}{% endblock %}
<script src="{{ asset('assets/js/script.js') }}"></script>
</body>
</html>

