{% extends 'base.html.twig' %}

{% block main %}
    <section id="Form_inscription">
        <div class="form_inscription">
            {{ form_start(form, {'attr':{'id':'form_inscription'}}) }}
            <div class="inscription_nom">
                {{ form_label(form.nom, 'Nom', {'label_attr':{'class': 'form-label'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': "form-user-nom-widget"}}) }}
            </div>
            <div>
                {{ form_label(form.prenom, 'Prenom', {'label_attr':{'class': 'form-label'}}) }}
                {{ form_widget(form.prenom, {'attr': {'class': "form-user-prenom-widget"}}) }}
            </div>
            <div>
                {{ form_label(form.email, 'Email', {'label_attr':{'class': 'form-label'}}) }}
                {{ form_widget(form.email, {'attr': {'class': "form-user-mail-widget"}}) }}
            </div>

            <div>

                {{ form_widget(form.password, {'attr': {'class': "form-user-password-widget"}}) }}
            </div>

            {{ form_end(form) }}

        </div>
    </section>

{% endblock %}